<template>
  <!-- Home -->
  <div id="app">
    <v-app id="home">
      <NavBar />
      <v-container fluid>
        <div class="head">
          <v-row>
            <v-col cols="5">
              <div style="position: relative" class="mt-16">
                <br />
                <h1 class="text-white">Hello, everyone</h1>
                <h1 class="text-white">
                  Welcome to LearnWith_Me <i class="fa-solid fa-heart"></i>
                </h1>
                <br />
                <span class="text-white">Created Website by Supakan</span>
              </div>
            </v-col>
            <v-col cols="2">
              <div
                style="
                  position: absolute;
                  z-index: 9999;
                  bottom: 0;
                  margin-left: auto;
                  margin-right: auto;
                  left: 0;
                  right: 0;
                  text-align: center;
                "
              ></div>
            </v-col>
            <v-col cols="5">
              <div style="position: relative; z-index: 9999" class="mt-16">
                <v-img
                  src="https://quatroventos.com.br/assets/img/desenv-fullstack-hero.png"
                  contain
                  max-height="300"
                ></v-img>
              </div>
            </v-col>
          </v-row>
        </div>

        <!-- Introduction -->
        <v-col cols="12" class="mt-16" id="introduction"></v-col>
        <v-img
          src="https://cdni.iconscout.com/illustration/premium/thumb/full-stack-developer-working-on-project-5248497-4403356.png"
          max-height="300"
        ></v-img>
        <v-row>
          <v-col cols="12" sm="12" class="px-4">
            <h2 class="mt-16 mb-5 text-center">
              Introduc<span style="color: #ff004f"
                >tion <i class="fa-solid fa-mug-hot"></i
              ></span>
            </h2>
            <div style="width: 120px; margin: 0 auto"></div>
            <!-- <h5 class="mt-n4 text-center">
            I Am Creative <span style="color: #ffb300">Web Design</span>
          </h5>
          <h5 class="text-center">
            And <span style="color: #ffb300">Developer</span>
          </h5> -->
            <br />
            <h5 class="text" style="padding-left: 20px; padding-right: 20px">
              "Programming" refers to the process of writing instructions for
              computers using various programming languages. It involves
              creating software applications or programs that perform specific
              tasks or functions as defined by the programmer. Programming
              enables computers to execute complex operations, automate tasks,
              process data, and interact with users or other systems.
              Programmers use programming languages such as Python, Java, C++,
              JavaScript, and many others to write code that instructs computers
              on how to perform tasks. These tasks can range from simple
              calculations and data processing to developing complex software
              systems, web applications, mobile apps, and video games.
              Programming involves several essential steps, including
              problem-solving, algorithm design, coding, testing, debugging, and
              maintaining software. It requires logical thinking, attention to
              detail, creativity, and continuous learning to stay updated with
              advancements in technology and programming languages. Overall,
              programming plays a crucial role in modern society by driving
              innovation, powering digital transformation across industries, and
              shaping the way we interact with technology in our daily lives.
            </h5>
            <h5 class="text" style="padding-left: 20px; padding-right: 20px">
              In the digital age where everything is driven by technology,
              coding has become an essential and indispensable skill. Whether
              you are interested in website development, creating applications,
              or developing computer programs, coding enables you to innovate
              and create new things without limits. Coding is not only a skill
              that can provide a livelihood but also a tool that helps us
              understand and solve daily problems effectively. It allows us to
              communicate with computers and various technological devices.
              Developing websites or applications that meet user needs requires
              the ability to code to ensure they function as intended. Website
              and application development are often divided into two main parts:
              Front-end, Back-end, and Full Stack Developer
            </h5>
          </v-col>
        </v-row>
        <br />

        <!-- Content -->
        <div class="text-center mt-5" id="content">
          <h2>
            What <span style="color: #ff004f">is</span> Front-end, Back-end and
            Full Stack Developer?
          </h2>
          <div style="width: 120px; margin: 0 auto"></div>
        </div>

        <!-- Front-End -->
        <v-img
          src="https://png.pngtree.com/png-vector/20220725/ourmid/pngtree-web-site-development-programmer-girl-png-image_6074556.png"
          max-height="300"
        ></v-img>
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c1">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/frontend-developer-7464456-6109659.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Front - <span style="color: #ff004f">End </span>
              <span style="color: #ff004f"
                ><i class="fa-solid fa-code"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <p class="text">
              Front-end Development is the part that users see and interact with
              on a website or application. The role of a Front-end Developer is
              to create and design the website's appearance to be visually
              appealing and easy to use, using coding languages such as HTML,
              CSS, and JavaScript. This work also includes improving user
              experience (UX) and designing user interfaces (UI) to ensure users
              can interact with the website or application conveniently and
              effectively. Additionally, Front-end Developers need to understand
              responsive design to ensure websites display correctly on various
              devices, including computers, tablets, and mobile phones.
            </p>
          </v-col>
        </v-row>

        <!-- Back-End -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c2">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/back-end-developer-working-on-a-laptop-6765194-5607779.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Back - <span style="color: #ff004f">End</span>
              <span style="color: #ff004f"
                ><i class="fa-solid fa-gears"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              Back-end Development is the part that operates behind the scenes
              of a website or application. The role of a Back-end Developer is
              to manage databases, write APIs, and process various data to
              respond correctly and quickly to commands from the Front-end. This
              work often uses coding languages such as Python, Ruby, PHP, and
              Node.js. Furthermore, Back-end Developers need to understand data
              security, server management, and system optimization to ensure the
              website or application runs stably and securely.
            </p>
          </v-col>
        </v-row>

        <!-- Full Stack -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c3">
              <v-img
                src="https://lucidoutsourcing.com/__media/los/440.webp"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Full <span style="color: #ff004f">Stack</span>
              <span style="color: #ff004f"
                ><i class="fa-solid fa-hashtag"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              Full Stack Development refers to individuals who possess the
              skills to work on both the Front-end and Back-end aspects of web
              or application development. This means they can develop a complete
              system, from designing the user interface to managing databases
              and writing back-end code. Having expertise in both areas enables
              Full Stack Developers to work more comprehensively and
              efficiently. Learning to code not only opens up diverse career
              opportunities but also serves as a gateway to creativity and
              innovation in the digital world. Developing websites and
              applications that can meet user needs and solve various problems
              effectively is something that can be achieved through coding.
              Whether you choose to be a Front-end Developer who creates and
              designs excellent user experiences, a Back-end Developer who
              manages data and behind-the-scenes processing, or a Full Stack
              Developer who can do it all, coding is the essential skill that
              will help you step into a future full of endless possibilities
            </p>
          </v-col>
        </v-row>
        <br />

        <!-- programming -->
        <v-col class="background" cols="12">
          <div class="inner">
            <div class="header" text-center mt-5 id="skill">
              <h2>
                Programming <span style="color: #ff004f">Language</span>
                <i class="bi bi-lightbulb"></i>
              </h2>
              <div style="width: 120px; margin: 0 auto"></div>
            </div>
            <v-img
              src="https://cdni.iconscout.com/illustration/premium/thumb/full-stack-developer-5021666-4182865.png?f=webp"
              max-height="300"
            ></v-img>
            <h5 class="text" style="padding-left: 30px; padding-right: 30px">
              A programming language is a tool used to write instructions or
              code to command a computer to perform tasks as desired. It is akin
              to the languages humans use to communicate with one another.
              Programming allows us to create software, applications, games, and
              various systems.
            </h5>
            <br />
            <div class="container mt-15">
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/html-icon.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>HTML 5</h3>
                </div>
                <p>
                  HTML (HyperText Markup Language) is the standard markup
                  language for creating and structuring web pages and web
                  applications. It defines the structure and layout of content
                  on a web page.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/5968/5968242.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>CSS</h3>
                </div>
                <p>
                  CSS (Cascading Style Sheets) is a style sheet language used
                  for describing the presentation of a document written in HTML
                  or XML. It defines how HTML elements are to be displayed on
                  screen, paper, or in other media.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>JavaScript</h3>
                </div>
                <p>
                  JavaScript is a dynamic scripting language used to make web
                  pages interactive. It's widely used for front-end development
                  (client-side) to add behavior to web pages, as well as for
                  server-side development using Node.js.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://go.dev/blog/go-brand/Go-Logo/PNG/Go-Logo_Blue.png"
                      class="skill-icon"
                      style="width: 60px"
                    />
                  </div>
                  <h3>Golang</h3>
                </div>
                <p>
                  Go is designed for simplicity, efficiency, and concurrent
                  operations. It is popular for building large-scale web systems
                  and applications, such as cloud computing, networking, and
                  large-scale distributed systems.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/5968/5968332.png"
                      class="skill-icon"
                      style="width: 60px"
                    />
                  </div>
                  <h3>PHP</h3>
                </div>
                <p>
                  PHP is a server-side scripting language designed for web
                  development. It's used to create dynamic web pages or to build
                  entire websites. PHP is embedded in HTML code and runs on a
                  web server.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Python</h3>
                </div>
                <p>
                  Python is a high-level, dynamically typed programming language
                  known for its simplicity and readability. It's used for web
                  development, scientific computing, artificial intelligence,
                  data analysis, and automation.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>C#</h3>
                </div>
                <p>
                  C# (pronounced "C sharp") is a versatile, object-oriented
                  programming language developed by Microsoft. It's commonly
                  used for building Windows applications, web applications, and
                  games using the Unity game engine.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/3/32/C%2B%2B_logo.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>C++</h3>
                </div>
                <p>
                  C++ is a powerful, statically typed, general-purpose
                  programming language. It's used extensively in
                  systems/software development, game development, and other
                  performance-intensive applications where efficiency is
                  crucial.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://w7.pngwing.com/pngs/578/816/png-transparent-java-class-file-java-platform-standard-edition-java-development-kit-java-runtime-environment-coffee-jar-text-class-orange.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Java</h3>
                </div>
                <p>
                  Java is a widely-used, class-based, object-oriented
                  programming language. It's known for its portability, meaning
                  that compiled Java code can run on any platform that supports
                  Java without needing to be recompiled.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Ruby_logo.svg/297px-Ruby_logo.svg.png?20101129171534"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Ruby</h3>
                </div>
                <p>
                  Ruby is a dynamic, object-oriented programming language known
                  for its simplicity and productivity. It's often used for web
                  development with the Ruby on Rails framework, as well as for
                  scripting and automation.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://logowik.com/content/uploads/images/swift.jpg"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Swift</h3>
                </div>
                <p>
                  Swift is a statically typed programming language developed by
                  Apple for iOS, macOS, watchOS, tvOS, and Linux app
                  development. It's designed to work with Apple's Cocoa and
                  Cocoa Touch frameworks.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/7/74/Kotlin_Icon.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Kotlin</h3>
                </div>
                <p>
                  Kotlin is a statically typed programming language that runs on
                  the Java Virtual Machine (JVM). It's used for developing
                  Android applications primarily, but it can also be used for
                  server-side development.
                </p>
              </div>
            </div>
          </div>
        </v-col>

        <!--frameworks-->
        <v-col class="background2" cols="12">
          <div class="inner">
            <div class="header" text-center mt-5 id="skill">
              <h2>
                Programming <span style="color: #ff004f">Frameworks</span>
                <i class="bi bi-fire"></i>
              </h2>
              <div style="width: 120px; margin: 0 auto"></div>
            </div>
            <v-img
              src="https://media.licdn.com/dms/image/D5612AQF0WVzgnNc0qQ/article-cover_image-shrink_600_2000/0/1681727774978?e=2147483647&v=beta&t=v-rmwZAK8lFzesK3NvUDOPOcuY5NcavjwuetfEkHqT4"
              max-height="300"
            ></v-img>
            <div class="container mt-15">
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>React</h3>
                </div>
                <p>
                  A front-end framework using JavaScript to create efficient,
                  customizable UIs with a Virtual DOM, enhancing performance.
                  It's component-based, aiding code reuse, and ideal for
                  flexible, high-performance applications. Used by Facebook,
                  Instagram, Airbnb.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Angular</h3>
                </div>
                <p>
                  A front-end framework using TypeScript to develop complex web
                  applications with MVC structure, featuring two-way data
                  binding, dependency injection, and clear code separation.
                  Suitable for large-scale applications. Used by Google,
                  Microsoft, Upwork.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://vuejs.org/images/logo.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Vue.js</h3>
                </div>
                <p>
                  A front-end framework using JavaScript to create responsive,
                  customizable UIs. It's small, fast, and integrates easily into
                  existing projects, offering high flexibility. Ideal for
                  responsive design and performance. Used by Alibaba, Xiaomi,
                  Grammarly.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://nextsoftware.io/files/images/logos/main/django-logo.png"
                      class="skill-icon"
                      style="width: 60px"
                    />
                  </div>
                  <h3>Django</h3>
                </div>
                <p>
                  A back-end framework using Python to develop secure, fast web
                  applications with an MVT structure. It includes an
                  auto-generated admin interface and built-in security features.
                  Ideal for stable, secure applications. Used by Instagram,
                  Pinterest, Disqus.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Ruby_On_Rails_Logo.svg/1200px-Ruby_On_Rails_Logo.svg.png"
                      class="skill-icon"
                      style="width: 60px"
                    />
                  </div>
                  <h3>Ruby on Rails</h3>
                </div>
                <p>
                  A back-end framework using Ruby to develop web applications
                  quickly with an MVC structure. It emphasizes convention over
                  configuration, with extensive libraries (Gems) for feature
                  addition. Ideal for rapid development. Used by GitHub,
                  Shopify, Basecamp.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/1200px-Laravel.svg.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Laravel</h3>
                </div>
                <p>
                  A back-end framework using PHP to create efficient web
                  applications with an MVC structure. It features built-in
                  authentication, Eloquent ORM for database management, and
                  flexible routing. Suitable for scalable web applications. Used
                  by Laravel Vapor, Invoice Ninja, MyRank.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://media.licdn.com/dms/image/D4D12AQEICFOK-z0akA/article-cover_image-shrink_720_1280/0/1656604745399?e=2147483647&v=beta&t=-Fjm5QYiJOJNzJ89xGv9VYPNxMNxqIX4jscMWXB6VaM"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Spring Boot</h3>
                </div>
                <p>
                  A back-end framework using Java to develop stable,
                  customizable web applications and services. It offers rapid
                  project setup, embedded servers, and dependency management.
                  Ideal for complex, flexible applications. Used by Pivotal Web
                  Services, Devoxx, Trivago.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://images.credly.com/images/1c2c86e1-16ce-4e4d-a425-d1ac96bb026d/express.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Express.js</h3>
                </div>
                <p>
                  A back-end framework using JavaScript (Node.js) to create
                  fast, efficient web applications and APIs. It is lightweight
                  with middleware support, making it flexible for various
                  applications. Suitable for fast, flexible APIs. Used by Uber,
                  MySpace, IBM.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://miro.medium.com/v2/resize:fit:800/1*Q5EUk28Xc3iCDoMSkrd1_w.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Flask</h3>
                </div>
                <p>
                  A back-end framework using Python for developing small,
                  flexible web applications and APIs. As a micro-framework, it
                  offers high flexibility and integrates well with various
                  Python libraries. Ideal for easy-to-start applications. Used
                  by Netflix, Lyft, Reddit.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://www.ispirer.net/images/asp.net.logo.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>ASP.NET Core</h3>
                </div>
                <p>
                  A back-end framework using C# to develop stable, customizable
                  web applications and services, cross-platform with support for
                  dependency injection and Razor Pages for efficient UI.
                  Suitable for scalable applications. Used by Stack Overflow,
                  Microsoft, GoDaddy.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://cdn-icons-png.flaticon.com/256/5968/5968672.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>Bootstrap</h3>
                </div>
                <p>
                  A front-end framework using CSS and JavaScript to create
                  responsive, standardized UIs. It offers a responsive grid
                  system and many pre-designed components for immediate use.
                  Ideal for beautiful, responsive websites. Used by Twitter,
                  Udemy, Spotify.
                </p>
              </div>
              <div class="skill-box">
                <div class="skill-title">
                  <div class="img">
                    <img
                      src="https://images.credly.com/images/a699a8c9-354e-4404-b00c-fd3ebdc4289b/jquery-badge.png"
                      class="skill-icon"
                    />
                  </div>
                  <h3>jQuery</h3>
                </div>
                <p>
                  A front-end framework using JavaScript to simplify tasks with
                  concise, understandable code. It manages DOM manipulation and
                  event handling easily, with many plugins for enhanced
                  capabilities. Suitable for fast, flexible websites. Used by
                  WordPress, LinkedIn, Pinterest.
                </p>
              </div>
            </div>
          </div>
        </v-col>
        <br />

        <!--Content 2-->
        <div class="text-center mt-5" id="service">
          <h2>
            What profession would
            <span style="color: #ff004f">you like</span> to pursue?
          </h2>
          <div style="width: 120px; margin: 0 auto"></div>
        </div>

        <!-- Front-End -->
        <v-img
          src="https://www.mangoitsolutions.com/wp-content/uploads/2021/02/full-stack-dev-expert-img.png"
          max-height="300"
        ></v-img>
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c1">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/man-coder-developed-code-in-computer-6818031-5625514.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Front - <span style="color: #ff004f">End </span> Developer
              <span style="color: #ff004f">
                <i class="fa-solid fa-code"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <p class="text">
              "Front end" typically refers to the part of a website or software
              application that users interact with directly. It encompasses the
              user interface (UI) and user experience (UX) design, as well as
              the implementation of features and functionalities visible to
              users. This includes elements like buttons, forms, menus, sliders,
              and any other components that users can see and interact with when
              using the application.
            </p>
          </v-col>
        </v-row>

        <!-- Back-End -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c2">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/man-coder-development-programming-computer-7944214-6310014.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Back - <span style="color: #ff004f">End</span> Developer
              <span style="color: #ff004f">
                <i class="fa-solid fa-gears"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              "Back end" refers to the part of a software or website that users
              do not directly interact with. It includes the server-side
              components responsible for processing and managing data, as well
              as handling business logic and database interactions. In simpler
              terms, the back end is where the application's core functionality
              and operations are implemented, often unseen by users but crucial
              for the overall functionality of the software or website.
            </p>
          </v-col>
        </v-row>

        <!-- Full Stack -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c3">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/coding-8743146-7050127.png?f=webp"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Full <span style="color: #ff004f">Stack</span> Developer
              <span style="color: #ff004f">
                <i class="fa-solid fa-hashtag"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              "Full stack" typically refers to the combination of technologies
              and skills required to develop both the front end (client-side)
              and back end (server-side) parts of a web application. A full
              stack developer is proficient in working with both the front end
              technologies like HTML, CSS, JavaScript, and frameworks/libraries
              like React, Angular, or Vue.js, as well as back end technologies
              like databases (SQL, NoSQL), server-side languages (Node.js,
              Python, Ruby, etc.), and frameworks (Express.js, Django, Flask,
              etc.).
            </p>
          </v-col>
        </v-row>

        <!-- Cloud Engineer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c4">
              <v-img
                src="https://i.pinimg.com/originals/78/5a/1b/785a1b9c359640da6bc9cfe3670b42ba.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Cloud <span style="color: #ff004f">Engineer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-star"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              A Cloud Engineer is an expert in designing, building, and
              maintaining cloud computing systems, typically using services from
              providers such as Amazon Web Services (AWS), Microsoft Azure, or
              Google Cloud Platform (GCP). Their primary role involves
              collaborating with development teams to ensure efficient and
              secure system operations over the internet, encompassing data
              storage, processing, and other computing tasks. Additionally, they
              optimize resource usage and reduce operational costs through
              sophisticated strategies.
            </p>
          </v-col>
        </v-row>

        <!-- Blockchain Developer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c5">
              <v-img
                src="https://i.pinimg.com/originals/9a/68/71/9a68716efc331fcc84e3a4ce5f23d18d.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Blockchain <span style="color: #ff004f">Developer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-face-smile"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              A blockchain developer is someone who specializes in creating and
              implementing blockchain protocols and decentralized applications
              (dApps). They are proficient in programming languages such as
              Solidity (for Ethereum), C++, or Java, depending on the blockchain
              platform. Their responsibilities include designing and developing
              smart contracts, integrating blockchain with existing systems, and
              ensuring the security and efficiency of blockchain applications.
              Blockchain developers play a crucial role in the innovation and
              adoption of blockchain technology across various industries.
            </p>
          </v-col>
        </v-row>

        <!-- Data Scientist -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c6">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/programmer-6779140-5624394.png?f=webp"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Data <span style="color: #ff004f">Scientist</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-gear"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              Data scientists are professionals who analyze and interpret
              complex data to inform decision-making and solve business
              problems. They possess a combination of skills in statistics,
              programming, and domain expertise. Their primary tasks include
              collecting and cleaning data, applying statistical models and
              machine learning algorithms to extract insights, and presenting
              findings to stakeholders. Data scientists often work with large
              datasets from diverse sources, such as structured databases or
              unstructured data from social media and sensors. Their insights
              help organizations make data-driven decisions and improve
              operational processes.
            </p>
          </v-col>
        </v-row>

        <!-- Game Developer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c7">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/woman-is-coding-online-9596552-7863451.png?f=webp"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Game <span style="color: #ff004f">Developer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-ghost"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              Game developers are professionals who design, create, and program
              video games. They work on all aspects of game development,
              including game design, art and animation, programming, audio
              engineering, and quality assurance. Game developers use various
              programming languages and tools depending on the platform (e.g.,
              Unity, Unreal Engine, C++, C#, etc.). They collaborate closely
              with artists, designers, and producers to bring a game concept to
              life, ensuring gameplay mechanics are engaging and intuitive. Game
              developers also optimize games for performance and compatibility
              across different devices and platforms, striving to deliver
              immersive and enjoyable gaming experiences for players.
            </p>
          </v-col>
        </v-row>

        <!-- AR/VR Developer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c8">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/html-coding-5329568-4470561.png?f=webp"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              AR/VR <span style="color: #ff004f">Developer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-pen"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              AR/VR developer specializes in creating applications and
              experiences that utilize Augmented Reality (AR) and Virtual
              Reality (VR) technologies. They typically work with programming
              languages such as C#, C++, or UnityScript, and utilize development
              platforms like Unity 3D, Unreal Engine, or ARKit/ARCore for mobile
              AR applications. Key responsibilities of AR/VR developers include:
              Designing and Developing Experiences: Creating immersive
              environments, 3D objects, animations, and interactive elements
              that users can engage with in AR or VR settings. Implementing
              Features: Integrating sensors, cameras, and other hardware
              components to enhance the AR/VR experience, such as motion
              tracking, gesture recognition, and spatial audio. Optimizing
              Performance: Ensuring that AR/VR applications run smoothly on
              different devices by optimizing for performance and minimizing
              latency. User Interface (UI) and User Experience (UX) Design:
              Designing intuitive interfaces and user interactions that enhance
              usability and immersion within AR/VR environments. Testing and
              Debugging: Conducting thorough testing to identify and fix bugs,
              ensuring a seamless experience for end-users. Collaboration:
              Working closely with designers, artists, and other developers to
              integrate assets, animations, and features into AR/VR
              applications.
            </p>
          </v-col>
        </v-row>

        <!-- Robotics Engineer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c9">
              <v-img
                src="https://cdni.iconscout.com/illustration/premium/thumb/young-man-working-on-html-coding-11198027-9128813.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Robotics <span style="color: #ff004f">Engineer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-umbrella"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              A robotics engineer is responsible for designing, developing, and
              maintaining robotic systems used in diverse industries. They
              integrate mechanical, electrical, and software components to
              create robots capable of performing tasks autonomously or
              semi-autonomously.
            </p>
          </v-col>
        </v-row>

        <!-- Natural Language Processing (NLP) Engineer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c10">
              <v-img
                src="https://png.pngtree.com/png-vector/20230201/ourmid/pngtree-computer-programming-and-html-concept-png-image_6581194.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Natural Language Processing
              <span style="color: #ff004f">(NLP)</span> Engineer
              <span style="color: #ff004f">
                <i class="fa-solid fa-lock"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              An NLP engineer develops algorithms and models to enable computers
              to understand and process human language, applying them to tasks
              like text classification, sentiment analysis, and machine
              translation for various applications.
            </p>
          </v-col>
        </v-row>

        <!-- Embedded Software Engineer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c11">
              <v-img
                src="https://iscodingforyou.com/blog-2-big.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Embedded <span style="color: #ff004f">Software</span> Engineer
              <span style="color: #ff004f">
                <i class="fa-solid fa-bolt"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              An embedded software engineer focuses on designing, developing,
              and maintaining software specifically tailored for integration
              within devices, systems, or hardware components. Their expertise
              involves optimizing code for efficient performance, ensuring
              reliability in real-time operations, and often working closely
              with hardware engineers to achieve seamless
            </p>
          </v-col>
        </v-row>

        <!-- Artificial Intelligence (AI) Researcher -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c12">
              <v-img
                src="https://miro.medium.com/v2/resize:fit:576/1*VMlWWFtIYnR21B3qG-UPnA.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Artificial Intelligence
              <span style="color: #ff004f">(AI)</span> Researcher
              <span style="color: #ff004f">
                <i class="fa-brands fa-bots"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              An AI researcher conducts in-depth exploration and experimentation
              to advance Artificial Intelligence, focusing on developing new
              algorithms, models, and techniques to enhance machine learning,
              natural language processing, computer vision, and other AI
              applications. Their work spans theoretical analysis, empirical
              studies, and practical implementations aimed at pushing the
              boundaries of AI technology and solving complex problems across
              various domains.
            </p>
          </v-col>
        </v-row>

        <!-- Technical Writer -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c13">
              <v-img
                src="https://iscodingforyou.com/blog-4-big.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              Technical <span style="color: #ff004f">Writer</span>
              <span style="color: #ff004f">
                <i class="fa-solid fa-bottle-water"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              Technical writer is responsible for creating clear and concise
              documentation that explains complex technical information. They
              often work on user manuals, instructional guides, online help
              systems, and technical reports. This role requires strong writing
              skills, the ability to understand and communicate technical
              concepts effectively, and often involves collaborating closely
              with subject matter experts to ensure accuracy and completeness of
              the documentation. Technical writers play a crucial role in making
              technical information accessible and understandable to users,
              helping them navigate and utilize products or systems efficiently.
            </p>
          </v-col>
        </v-row>

        <!-- IT Project Manager -->
        <v-col cols="12" class="mt-16"></v-col>
        <v-row>
          <v-col cols="12" sm="6">
            <div class="c14">
              <v-img
                src="https://iscodingforyou.com/blog-1-big.png"
                max-height="300"
              ></v-img>
            </div>
          </v-col>
          <v-col cols="12" sm="5">
            <h2 class="mt-16 mb-5">
              IT <span style="color: #ff004f">Project</span> Manager
              <span style="color: #ff004f">
                <i class="fa-solid fa-handshake-angle"></i
              ></span>
            </h2>
            <div style="width: 120px"></div>
            <br />
            <p class="text">
              An IT project manager is essential in overseeing the planning,
              execution, and completion of IT projects within an organization.
              They are responsible for defining project scopes, timelines, and
              budgets, ensuring alignment with organizational goals and
              stakeholder expectations.
            </p>
          </v-col>
        </v-row>
        <br />
        <hr />
        <!-- Service -->
        <!-- <div class="text-center mt-5" id="services">
        <h2>
          What profession would <span style="color: #ff004f">you like</span> to
          pursue?
        </h2>
        <br>
        <v-img
              src="https://www.mangoitsolutions.com/wp-content/uploads/2021/02/full-stack-dev-expert-img.png"
              max-height="300"
        ></v-img>
        <div style="width: 120px; margin: 0 auto"></div>
      </div>
      <v-col cols="12" class="pad">
        <div class="first">
          <v-row>
            <v-col cols="12">
              <div class="child">
                <v-btn
                  icon="fas fa-computer"
                  color="#ff004f"
                  class="text-white"
                ></v-btn>
                <h4 class="ml-3 mt-4">Web Developer</h4>
                <p class="text-grey ml-3 mt-4 text-caption">
                  Develops and designs websites and web applications<br />
                  using HTML, CSS, JavaScript, PHP, Ruby<br />to create
                  user-friendly experiences.
                </p>
              </div>
              <div class="child">
                <v-btn
                  icon="fas fa-mobile-alt"
                  color="#ff004f"
                  class="text-white"
                ></v-btn>
                <h4 class="ml-3 mt-4">Mobile App Developer</h4>
                <p class="text-grey ml-3 mt-4 text-caption">
                  Develops and designs applications for iOS and Android<br />
                  using Kotlin and Swift to<br />create efficient and
                  user-friendly apps. ab
                </p>
              </div>
              <div class="child">
                <v-btn
                  icon="fas fa-globe"
                  color="#ff004f"
                  class="text-white"
                ></v-btn>
                <h4 class="ml-3 mt-4">Software Developer</h4>
                <p class="text-grey ml-3 mt-4 text-caption">
                  Develops and designs efficient software<br />
                  using Java, C++, C#, Python to build <br />reliable and
                  high-performance programs.
                </p>
              </div>
              <div class="child">
                <v-btn
                  icon="fa-solid fa-database"
                  color="#ff004f"
                  class="text-white"
                ></v-btn>
                <h4 class="ml-3 mt-4">Data Analyst</h4>
                <p class="text-grey ml-3 mt-4 text-caption">
                  Analyzes and extracts data to <br />
                  derive business insights using Python and R to<br />develop
                  valuable data analysis.
                </p>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-col>
      <hr /> -->

        <!-- Project -->
        <div class="text-center mt-5" id="project">
          <h2>
            Im<span style="color: #ff004f">age</span>
            <i class="fa-solid fa-paperclip"></i>
          </h2>
          <div style="width: 120px; margin: 0 auto"></div>
        </div>
        <br />
        <v-img
          src="https://cdni.iconscout.com/illustration/premium/thumb/website-interface-development-4549252-3766893.png?f=webp"
          max-height="300"
        ></v-img>
        <v-col cols="12" sm="12">
          <!-- <div class="d-flex justify-center mb-6">
          <v-btn color="#ff004f" class="mr-2">All</v-btn>
          <v-btn class="mr-2" variant="tonal">Web Design</v-btn>
          <v-btn class="mr-2" variant="tonal">App Design</v-btn>
          <v-btn class="mr-2" variant="tonal">IoT</v-btn>
          <v-btn class="mr-2" variant="tonal">Photography</v-btn>
        </div> -->
        </v-col>
        <v-col cols="12" class="imgHover">
          <v-row class="fill-height" align="center" justify="center">
            <template v-for="(item, i) in items" :key="i">
              <v-col cols="12" md="4">
                <v-hover v-slot="{ isHovering, props }">
                  <v-card
                    :elevation="isHovering ? 12 : 2"
                    class="{'on-hover' : isHovering}"
                    v-bind="props"
                  >
                    <v-img :src="item.img" height="225px" cover></v-img>
                  </v-card>
                </v-hover>
              </v-col>
            </template>
          </v-row>
        </v-col>
        <!-- <v-col cols="12" sm="12"> -->
          <!-- <div class="d-flex justify-center mb-6">
          <v-btn color="#ff004f" class="mt-5">load more!!</v-btn>
        </div> -->
        <!-- </v-col> -->
        <!-- <br />
      <hr /> -->

        <!-- Contact -->
        <!-- <v-col cols="12" sm="12" class="px-16" id="contact">
          <v-row>
            <v-col cols="12" sm="4">
              <div class="child">
                <h1>
                  Contact <span style="color: #ff004f">Me</span
                  ><i class="bi bi-send"></i>
                </h1>
                <div id="assessment">
                <h2>Assessment</h2>
                <p>Join us in taking the assessment</p>
                </div>
                <div class="btn">
                <button><a href="https://www.youtube.com/"></a>clink</button>
                </div> -->
                <!-- <v-btn
                icon="fas fa-map-marker-alt"
                class="mt-10"
                variant="outline"
              ></v-btn
              ><br />
              <span class="text-caption">66/12 M.7 D.Pangpid P.Trat 23120</span
              ><br />
              <v-btn
                icon="fas fa-phone-alt"
                class="mt-10"
                variant="outline"
              ></v-btn
              ><br />
              <span class="text-caption">Tel: 092-6087859</span><br />
              <v-btn
                icon="fa-brands fa-facebook"
                class="mt-10"
                variant="outline"
              ></v-btn
              ><br />
              <span class="text-caption">Supakan Ponhtipo</span><br />
              <v-btn
                icon="fas fa-envelope"
                class="mt-10"
                variant="outline"
              ></v-btn
              ><br />
              <span class="text-caption">Flukeark@gmail.com</span><br /> -->
              <!-- </div>
            </v-col> -->
            <!-- <v-col cols="12" sm="8">
            <h1 class="mt-8">
              Send your message
              <icon class="bi bi-chat-dots-fill" style="color: #f9cc2a"></icon>
            </h1>
            <v-divider></v-divider>
            <v-row class="mt-10">
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Name"
                  persistent-hint
                  variant="outlined"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-text-field
                  label="Gmail"
                  persistent-hint
                  variant="outlined"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-textarea
              label="Message"
              persistent-hint
              variant="outlined"
            ></v-textarea>
            <v-btn color="#ff004f" class="mt-5"
              >Submit <i class="bi bi-hand-index-thumb"></i
            ></v-btn>
            <div class="img2">
              <img
                src="https://cdni.iconscout.com/illustration/premium/thumb/web-development-service-4549261-3766902.png"
                style="width: 300px"
              />
            </div>
          </v-col> -->
          <!-- </v-row>
        </v-col> -->
      </v-container>

      <!-- Footer -->
      <footer class="py-3 my-4">
        <p class="text-center">
          © 2024 LearnWithMe, No Copyright
          <i class="bi bi-emoji-smile-fill" style="color: yellow"></i>
        </p>
      </footer>
    </v-app>
    <button @click="scrollToTop" class="scroll-to-top">
      <span style="color: #ffffff">Go to Top</span>
      <i class="fa-solid fa-arrow-up" style="color: #003a66"></i>
    </button>
  </div>
</template>

<script>
import { defineComponent } from "vue";

// Components
import NavBar from "@/components/NavBar.vue";

export default defineComponent({
  name: "HomeView",
  setup() {
    const scrollToTop = () => {
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
    };

    return {
      items: [
        {
          img: "https://muffingroup.com/blog/wp-content/uploads/2023/03/Be-recipe-2.png",
        },
        {
          img: "https://colorlib.com/wp/wp-content/uploads/sites/2/sakara-food-website.jpg",
        },
        {
          img: "https://media.licdn.com/dms/image/C4D12AQEAUfhBSKh_Ug/article-cover_image-shrink_720_1280/0/1534413722959?e=2147483647&v=beta&t=nKbofkkuSpgptVU5Up366f8-JXD8hfzOvGDKywOTT-Y",
        },
        {
          img: "https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/60108446d58c7fa686c2e4fa_6002086f72b727713f01e79c_dribbble-website-inspiration.jpeg",
        },
        {
          img: "https://dt2sdf0db8zob.cloudfront.net/wp-content/uploads/2020/04/5-Best-Website-Builders-for-Beauty-Salons-image4.png",
        },
        {
          img: "https://www.ziflow.com/hubfs/How%20our%20creative%20department%20manages%20the%20web%20design%20review%20process.jpg",
        },
        {
          img: "https://learn.canva.com/wp-content/uploads/2019/07/20-web-design-principles-to-follow-featured-image.png",
        },
        {
          img: "https://www.labsolution.lu/thumbnails/109212-1200-1200-Max.jpg",
        },
        {
          img: "https://res.cloudinary.com/practicaldev/image/fetch/s--q7uxrcOU--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/4rq466utjqzmkvt5jjrz.png",
        },
        {
          img: "https://www.edivaldobrito.com.br/wp-content/uploads/2022/04/unreal-engine-5-lancado-oficialmente.webp",
        },
        {
          img: "https://cdn2.unrealengine.com/your-first-hour-with-unreal-engine-5-2-1920x1080-2248ed6841b8.jpg?resize=1&w=580",
        },
        {
          img: "https://d1iv7db44yhgxn.cloudfront.net/documentation/images/09581220-3827-44c9-8290-c9d09d95ec4b/01-level-editor-windows.png",
        },
      ],
      scrollToTop,
    };
  },

  components: {
    NavBar,
  },
});
</script>

<style scoped>
.v-container {
  padding: 16px 0;
  font-family: "Quicksand", sans-serif;
}
.head {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 400px;
  width: 100%;
}
.head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  transform: skew(0deg, 6deg);
  animation: changeColor 15s linear infinite alternate;
}
.head::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  transform: skew(0deg, -6deg);
  animation: changeColor 15s linear infinite alternate;
}
@keyframes changeColor {
  0% {
    background-color: #00d9ff;
  }
  25% {
    background-color: #ff0000;
  }
  50% {
    background-color: #200bdf;
  }
  75% {
    background-color: #ff8011;
  }
  100% {
    background-color: #62ff00;
  }
}

.c1 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #ff973b;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c2 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #7bfbbd;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c3 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #51acf7;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c4 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #af51f7;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c5 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #c3f751;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c6 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #f7b251;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c7 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #d951f7;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c8 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #defa9d;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c9 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #ff006a;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c10 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #7600fd;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c11 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #51f767;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c12 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #1cd9ff;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c13 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #c3f751;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.c14 {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #f82971;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}

.first {
  width: 100%;
  height: 280px;
  text-align: center;
  padding: 2rem 2rem;
}
.child {
  display: inline-block;
  padding: 2rem 1rem;
  vertical-align: middle;
  text-align: center;
  margin-right: 8px;
}
.imgHover {
  padding: 0 200px;
}
footer {
  background-color: #a0a0a0;
}
.inner {
  margin-top: 50px;
  padding-top: 30px;
}
.header {
  text-align: center;
  padding: 1rem;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}
.skill-box {
  padding: 1rem;
  color: #000000;
  cursor: pointer;
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.skill-icon {
  width: 50px;
  z-index: 2;
}
.img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(127, 127, 127, 0.5);
  border-radius: 45px 0 0 45px;
}
.skill-title h3 {
  color: #000000;
  margin: 0.5rem;
}
.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 35px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #cc2e68;
  transition: 5s;
}
.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 35px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #cc2e68;
  transition: 5s;
}
.skill-box:hover > .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}
.skill-box p {
  font-size: 18px;
}
.background {
  background-image: linear-gradient(#c6ffdd, #fbc686, #f7c2c3);
}
.background2 {
  background-image: linear-gradient(#a5fecb, #20bdff, #cbc0fe);
}
.img2 {
  float: right;
  margin-top: 50px;
  width: 356px;
  height: 300px;
  background-color: #dffb7b;
  border-radius: 50% 50% 50% 50% / 60% 60% 60% 60%;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f1c40f;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s; /* เพิ่มการเปลี่ยนแปลงทรานส์ฟอร์ม */
}

.scroll-to-top:hover {
  background-color: #e10f39;
  transform: translateY(-10px); /* ยกปุ่มขึ้นเมื่อชี้ */
}

.scroll-to-top:focus {
  outline: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  margin: 10px;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}
</style>
