<template>
  <v-container>
    <v-form ref="form" @submit.prevent="submitForm">
      <v-text-field v-model="name" label="Name" required></v-text-field>
      <v-text-field v-model="email" label="Gmail" required></v-text-field>
      <v-textarea v-model="message" label="Message" required></v-textarea>
      <v-btn type="submit" color="pink">Submit</v-btn>
    </v-form>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      name: '',
      email: '',
      message: ''
    };
  },
  methods: {
    submitForm() {
      fetch('https://script.google.com/macros/s/AKfycbxrEbdXIYbCVAicwgvZFZ7dOE-CobBUvTa8vTu3ut2PjNUcCmRxT_MEb4Fe_bM6ahyq-w/exec', { // แทนที่ YOUR_WEB_APP_URL ด้วย URL ของ Web App ของคุณ
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: this.name,
          email: this.email,
          message: this.message
        })
      })
      .then(response => response.json())
      .then(data => {
        if (data.result === 'success') {
          alert('Form Submitted Successfully!');
          this.name = '';
          this.email = '';
          this.message = '';
        } else {
          alert('Error submitting form');
        }
      })
      .catch((error) => {
        alert('Error submitting form');
        console.error('Error:', error);
      });
    }
  }
};
</script>

<style scoped>
.v-btn {
  margin-top: 20px;
}
</style>
