<template>
  <v-app-bar app color="black" dark flat class="px-12" fixed>
    <v-btn>
      <v-icon color="yellow" left class="mr-2">
        <icon class="bi bi-braces" style="color: #FFD43B;"></icon>
      </v-icon>
      LearnWithMe
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn text @click="scroll('home')">
      Home
      <icon class="bi bi-house-door-fill" style="color: #FFD43B;"></icon>
    </v-btn>
    <v-btn text @click="scroll('introduction')">
      Introduction
      <i class="fa-solid fa-font" style="color: #FFD43B;"></i>
    </v-btn>
    <v-btn text @click="scroll('content')">
      Content
      <icon class="fa-regular fa-comment" style="color: #FFD43B;"></icon>
    </v-btn>
    <!-- <v-btn text @click="scroll('services')">Services <icon class="bi bi-cast" style="color: #FFD43B;"></icon></v-btn> -->
    <v-btn text @click="scroll('project')">
      <!-- Ex. Project -->Image
      <icon class="bi bi-file-earmark" style="color: #FFD43B;"></icon>
    </v-btn>
    <!-- <v-btn text @click="scroll('skill')">Skill <icon class="bi bi-lightning-charge" style="color: #FFD43B;"></icon></v-btn> -->
    <!-- <v-btn text @click="scroll('contact')">Contact <icon class="bi bi-megaphone" style="color: #FFD43B;"></icon></v-btn> -->
  </v-app-bar>
</template>

<script>
export default {
  methods: {
    scroll(refName) {
      const element = document.getElementById(refName);
      element.scrollIntoView({ behavior: "smooth" });
    }
  }
};
</script>

<style scoped>
.v-app-bar {
  font-family: 'Quicksand', sans-serif;
}
.v-btn {
  margin: 5px;
  font-size: 15px;
}
</style>
